/* COLOR VARIRABLES */
:root {
  --red: #FF0000;
  --blue: #0000FF;
  --white: #FFFFFF;
  --gray: #CCCCCC;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.25s;
}

/* ELEMENT SELECTORS */
body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--black);
  color: var(--white);
  height: 100vh;
}

/* CLASS SELECTORS */
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  gap: 3rem;
  position: relative;
}

.game-info{
  display:flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.p1-info,
.p2-info{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.p1-info h1,
.p2-info h1{
  font-size: 1.75rem;
}


.player1,
.player2 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  border: 5px solid var(--white);
  height: fit-content;
  width: 350px;
}

.sprite1,
.sprite2 {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.sprite-container{
  position: relative;
  height: 175px;
}

.versus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.versus-img {
  width: 100px;
}

.flip {
  transform: scaleX(-1);
}

.game-buttons{
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.rps-btn {
  display: inline-block;
  border: 0;
  background: var(--gray);
  color: var(--black);
  font-weight: 600;
  border-radius: 2em;
  width: 1.75em;
  height: 1.75em;
  font-size: 2em;
  outline: none;
  cursor: pointer;
}

.player1 .rps-btn:active {
  border-bottom: 0.15em solid transparent;
  transform: scale(0.9);
}

.red {
  background: var(--red);
}

.white {
  background: var(--white);
}

.blue {
  background-color: var(--blue);
}

.rps-btn:disabled {
  background: var(--gray);
  cursor: auto;
}


.rps-img {
  width: 70%;
}

.copyright {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  text-align: center;
  padding: 10px;
  font-size: .75rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.git-logo{
  width: 1.25rem;
  bottom: 20px;
  padding-bottom: 5px;
}

.copyright:hover,
.logo:hover {
  color: var(--gray);
  scale: 1.05;
}


/* ID SELECTORS */
#restart-btn {

  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;

}

#restart-btn:active {
  color: var(--gray);
  transform: scale(0.9);
}

@media screen and (max-width: 900px) {

  #game-title{
    font-size: 1.25rem;
  }

  #game-round,
  #game-text{
    font-size: 1rem;
  }

  .game-info{
    height: 150px;
  }



  

  .player1,
  .player2{
    width: 200px;
    padding: 1rem;
  }

  .players{
    gap: 1rem;
  }

  .p1-info,
  .p2-info{
    font-size: 0.75rem;
  }

  .rps-btn{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1em;
    gap: .5rem;
  }

  .versus-img{
    width: 50px;
  }
}