* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Press Start 2P', cursive;
  background-color: #000;
  color: #fff;
}



.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  height: 110vh;
  margin: 0 auto;
  text-align: center;
}

.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 8% 0;
}

.player1,
.player2 {
  padding:50px;
  border-radius: 10px;
  border: 5px solid #fff;
}

.sprite1, .sprite2{
  margin: 1.75rem;
}

.score{
  margin-top: 1.5rem;
}

.versus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.versus-img {
  width: 100px;
}

.flip {
  transform: scaleX(-1);
}


.rps-btn {
  font-family: 'Work Sans', sans-serif;
  display: inline-block;
  border: 0;
  background: #BAB9B9;
  color: #000;
  font-weight: 600;
  border-radius: 2em;
  width: 2em;
  height: 2em;
  font-size: 2em;
  outline: none;
  border-bottom: 0.15em solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.rps-btn:active {
  border-bottom: 0.15em solid transparent;
  transform: scale(0.9);
}

.red {
  background: red;
}

.white {
  background: white;
}

.blue {
  background-color: blue;
}

.rps-btn:disabled {
  background: #BAB9B9;
  cursor: auto;
}


.rps-img {
  width: 70%;
}

#restart-btn{
  position: absolute;
  font-size: 1.75em;;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  color:white;
  border:none;
  cursor:pointer;
  bottom: -2.5%;
}

#restart-btn:active{
  color:#BAB9B9;

}
#game-round{
  margin: 2.5rem 0;
}

@media screen and (max-width: 1163px) {
  .game-container{
    height: 225vh;
  }

  .players {
    flex-wrap: wrap;
  }

  .player1,
  .player2,
  .versus {
    width: 50vw;
    margin-bottom: 4rem;
  }

  #restart-btn{
    bottom: -115%;
  }
}